


@font-face {
    font-family: ABCMonument M;
    src: url(../fonts/ABCMonumentGrotesk-Medium.woff2);
  }
  
  @font-face {
    font-family: ABCMonument R;
    src: url(../fonts/ABCMonumentGrotesk-Regular.woff2);
  }
  
  :root {
    --clr-blue: #004c48;
    --Albescent-White: #f7ebda;
    --green-white: #e2e5dc;
  
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-size18: 18px;
    --font-size30: 30px;
    --font-heading: 40px;
    --font-text: 15px;
    --font-bigheading: 80px;
    
  
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ABCMonument R;
  }

  .carousel-control-next-icon {
   
    background-image: url(../images/campus/btn-arrow-right.svg);
    width: 70px;
    height: 70px;
    margin-right: -132px;
    opacity: 1 !important;
}

.carousel-control-prev-icon {
    background-image: url(../images/campus/btn-arrow-left.svg);
    width: 70px;
    height: 70px;
    margin-left: -120px;


}

.background-container {
    position: relative;
    width: 100%;
    height: 700px; /* Adjust height as needed */
    background: url(../images/campus/the-campus-image-1.jpg) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .inner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Adjust size as needed */
    height: auto;
   
  }
.menu-main{

    width: 100%;
    height: 60px;
    max-width: 1440px;
    justify-content: space-between !important;


    display: flex;
  
    align-items: center;
   
    padding: 30px;
}
  nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  #mainImage1{

    position: absolute;
    bottom: 0;
  }

  /* ////////////////section 2 css////// */

  .image-container {
    text-align: center;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
  .text-container {
    cursor: pointer;
  }

  .text-container h1 {
    margin-top: 20px;
  }
  .text-container h2 {
    margin: 0;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  .text-container h2:hover {
    background-color: #f0f0f0;
  }

.text-container .text{
  position: absolute;
  left: 180px;
}


.text-container .text1{
  position: absolute;
  left: 180px;
}


.box1{
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -789px;
  background-color: white;
  right: 0;
}
.box2{
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -789px;
  background-color: white;
  right: 70px;
}

.box3{
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: -789px;
  background-color: white;
  left: 80px;
}



/* section3 */

.item-1{
  width: 562px;
  height: 280px;
  background-color: #004C48;
  position: absolute;
  bottom: 0;
  right: 70px;


}
.item-2{
  width: 80px;
  height: 140px;
  background-color: #004C48;
  position: absolute;
  bottom: 0;
  right: 0;


}

.item-heading{
  color: #F7EBDA;
}

.item-para{
  width: 506px;
  color:#F7EBDA;
}

/* .tile-box{
    width: 83px;
    height: 140px;
    position: absolute;
    right: 0;
    top:0;
   
    background-color: var(--clr-blue);
   
} */

/* section 4 css */


.icon-slider .img-fluid{

  width: 105px;
  height: 105px;
}


.big-heading{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 90px;
  font-size: var(--font-heading);
  line-height: 45px;
  font-weight: 400px;
  color: #004c48;
}

.icon-list{
  margin-left: 30px;
}

.icon-para{
  font-size: var(--font-text);
  line-height: 18px;
  font-weight: 400;
  color: #004c48;
}

/* section 6 css */


.clearing-para{
  width: 403px;
  margin-left: 95px;
  margin-top: -80px;
  line-height: 22px;
  font-size: var(--font-size18);
  color: #004c48;
}

.sub-head{
  font-size: var(--font-bigheading);
  color:#004c48;
  font-size: 600;
}

 .head2{
  margin-left: 90px;
  
  
}

.head1{
  position: relative;
  margin-left: -325px;
  bottom: -60px;
}

.head3{
  position: relative;
  margin-left: -30px;
  top: -60px;
}

.sub-para{
  font-size: var(--font-size30);
  color:#004c48;
}

.para1{
 position: relative;
 top: -35px;
 left: -40px;
}

.para2{
  position: relative;
  top: -95px;
  left: 380px;
}

.para3{
  position: relative;
  top:-157px;
  left: 260px;
}
/* section8 */

.button{
  background-color: #81628F;
  color:white;
  padding: 15px 30px;
  border: none;
  margin-top: 80px;
  margin-left: -500px;
}



.container-section8 {
  position: relative;
}

.section6{
  background-image: url(../images/campus/Union.png);
}


.container-fluid-section4{
  background-image: url(../images/campus/Group\ 12.png);
}


/* .image-container8{

  background-image: url(../images/campus/the-campus-image-2.jpg);

} */
.footer li a{
  text-decoration: none;
  color: #004C48;
}

.footer li{
  color:#004C48;
}




  /* footer css  */

  .footer {
    background-color: #F7EBDA;
    padding: 20px 0;
    max-width: 1440px;
    
  }
  .footer li{
    list-style: none;
  }
  .footer .col {
    text-align: center;
  }